<button type="button" id="matchButton-{{this.id}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal-{{this.id}}" onclick="initializeMatchCalendar({{this.id}}, '{{this.name}}')">
    View Profile
</button>

<div>
<!-- Matches -->
  <div class="modal fade profModal" id="profileModal-{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Profile - {{this.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="matchBody">
          {{> matchProfile}}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade reqModal" id="request-modal-{{this.id}}" data-event="" tabindex="-1" backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Request Session with {{this.name}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {{!-- content goes here --}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="request-button-{{this.id}}" data-bs-dismiss="modal" onclick="requestSession({{this.id}})">Request Session</button>
          </div>
          </div>
      </div>
  </div>
</div>