<div>
  <div class="row">
    <div id="prof-left" class = "col-sm-4">
      <h2 style="text-align: center;">Personal Info</h2>
      <div class="card-prof">
        <div class="row align-items-center">  
          <div class="col-auto mx-auto text-center">
            <img src={{#if profileimage}}"{{profileimage}}"{{else}}"https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg"{{/if}} alt="profile pic"class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
            <h2>{{name}}</h2>
            <h5>Major:</h5>
            <p>
              {{degree}}
            </p>
            <body>
              <b>Year:</b> {{year}} <b>Style:</b> {{learningstyle}}
            </body>
          </div>
        </div>
      </div>
        <div class="card-prof">
          <h5>Bio:</h5>
          <p>{{email}}</p>
          <h5>Bio:</h5>
          <p>{{bio}}</p>
        </div> 
      <div class="card-prof">
          <h5 style="margin-bottom: 4px; padding: 2px 0;">Classes:</h5>
            <div class="scrollable-list">
              <ul>
                {{#each classes}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
        </div>
      <div class="flex-container" id="matchProfileMatch-{{id}}" style="justify-content: center;">
        
      </div>
    </div>
    {{!-- Schedule to be implemented with Calendar API --}}
    <div id="prof-center" class="col-sm-8">
      <div id="instructions-{{id}}"></div>
      <div class="calendar-container">
          <div id="match-calendar-{{id}}" data-id="" data-name="" data-matched=""></div>
      </div>
    </div>
  </div>
</div>

