<div class ="container">
  {{#if noMatches}}
    <div class="profile-card">
      <h2>You're all caught up!</h2>
      <p>Thanks for checking out all your potential matches.</p>
      <a href="/profile" class="btn btn-primary mt-3">Go to Profile</a>
    </div>
  {{else}}
    <div class="profile-card">
      <h1>{{match.name}} </h1>
      <h4>{{match.year}}</h4>
      <h6><em>Learning Style:</em></h6>
      <p>{{match.learningstyle}}</p>
      <h6><em>Degree:</em></h6>
      <p>{{match.degree}}</p>
      <h6><em>Bio:</em></h6>
      <p>{{match.bio}}</p>

      <form action="/like" method="POST">
        <input type="hidden" name="tutorID" value="{{match.id}}">
        <input type="hidden" name="nextIndex" value="{{nextIndex}}">
        <button type="submit">Like</button>
      </form>


      <form method="POST" action="/skip">
        <input type="hidden" name="matchID" value="{{match.id}}">
        <input type="hidden" name="nextIndex" value="{{nextIndex}}">
        <button class="btn btn-secondary" type="submit">Skip</button>
      </form>
    </div>
  {{/if}}
</div>

