<div>
  <div><h1>Profile</h1></div>
  <div class="row">
    <div id="prof-left" class = "col-sm-3">
      <h2 style="text-align: center;">Personal Info</h2>
      <form method="post" action="/"></form>
        <div class="card-prof">
        <div class="row align-items-center">  
          <div class="col-auto">
            <img class="mb-0" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" alt="profile pic" width="100" height="100">
          </div>
          <div class="col-auto">
            <h2>{{name}}</h2>
          </div>
          <div class="col-auto">
            <h3>{{degree}}</h3>
          </div>
          <div class="col-auto">
            <button class = "btn btn-primary"  type='submit'>Edit</button><br/>
          </div>
        </div>
        </div>
        <div class="card-prof">
          <p>Courses needing tutoring for:</p>
            <ul>
              {{#each classes}}
              <li> 
                {{this}}
              </li>
              {{/each}}
            </ul>
        </div>
        <div class="card-prof">
          <p>Learning Style: {{learningstyle}}</p>
        </div>
        <div class="card-prof">
          <p>Bio: {{bio}}</p>
        </div>
      </form>
    </div>
    {{!-- Schedule to be implemented with Calendar API --}}
    <div id="prof-center" class="col-sm-6">
      <h2 style="text-align: center;">Calendar</h2>
      {{> cal}}
    </div>
    {{!-- Matched Tutors --}}
    <div id="prof-right" class = "col-sm-3" >
        <h2 style="text-align: center;">Tutors</h2>
        <div class="card-group-vert">
          <div class="card-vert">
            <div class="row align-items-center">
            <div class="col-auto">
                <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
              </div>
              <div class="col-auto">
                <p class="mb-0">Tutor Name</p>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Message</button>
              </div>
            </div>
          </div>
          <div class="card-vert">
            <div class="row align-items-center">
            <div class="col-auto">
                <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
              </div>
              <div class="col-auto">
                <p class="mb-0">Tutor Name</p>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Message</button>
              </div>
            </div>
          </div>
          <div class="card-vert">
            <div class="row align-items-center">
            <div class="col-auto">
                <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
              </div>
              <div class="col-auto">
                <p class="mb-0">Tutor Name</p>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Message</button>
              </div>
            </div>
          </div>   
        </div>

      {{!-- Potential Tutors --}}
      <row>
        <h2 style="text-align: center;"> Potential Tutors</h2>
        <div class="card-group">
          <div class="card">
            <div class="text-center">
              <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
            </div>
            <p>Tutor Name</p>
            <button class = "btn btn-primary"  type='submit'>View Profile</button><br/>
          </div>
          <div class="card">
            <div class="text-center">
              <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
            </div>
            <p>Tutor Name</p>
            <button class = "btn btn-primary"  type='submit'>View Profile</button><br/>
          </div>
          <div class="card">
            <div class="text-center">
              <img class="mb-0" id="selectedAvatar" src="https://i0.wp.com/sectour.co/wp-content/uploads/2015/04/logo-placeholder.jpg?ssl=1" width="60" height="60">
            </div>
            <p>Tutor Name</p>
            <button class = "btn btn-primary"  type='submit'>View Profile</button><br/>
          </div>   
        </div>
      </row>
    </div>
  </div>
</div>

