<div>
  <div><h1>Profile</h1></div>
  <div class="row">
    <div id="prof-left" class = "col-sm-3">
      <h2 style="text-align: center;">Personal Info</h2>
      <form method="post" action="/"></form>
        <div class="card-prof">
        <div class="row align-items-center">  
          <div class="col-auto mx-auto text-center">
            <img src="{{profileimage}}" alt="profile pic"class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
          </div>
          <div class="col-auto mx-auto text-center">
            <h2>{{name}}</h2>
          </div>
          <div class="col-auto">
            <h3>{{degree}}</h3>
          </div>
        </div>
        </div>
        <div class="card-prof">
          <p>Courses needing tutoring for:</p>
            <ul>
              {{#each classes}}
              <li> 
                {{this}}
              </li>
              {{/each}}
            </ul>
        </div>
        <div class="card-prof">
          <p>Learning Style: {{learningstyle}}</p>
        </div>
        <div class="card-prof">
          <p>Bio: {{bio}}</p>
        </div>
      </form>
    </div>
    {{!-- Schedule to be implemented with Calendar API --}}
    <div id="prof-center" class="col-sm-6">
      <h2 style="text-align: center;">Calendar</h2>
      {{> cal}}
    </div>
    {{!-- Matched Tutors --}}
    <div id="prof-right" class = "col-sm-3" >
        <h2 style="text-align: center;">Tutors</h2>
        <div class="card-group-vert">
          {{#if allMatches}}
          {{#each allMatches}}
          <div class="card-vert">
            <div class="row align-items-center">
              {{#if this.Profileimage}}
              <div class="col-auto">
                  <img class="mb-0" id="selectedAvatar" src="{{this.Profileimage}}" width="60" height="60">
              </div>
              {{else }}
              <div class="col-auto">
                <img class="mb-0" id="selectedAvatar" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" width="60" height="60">
              </div>
              {{/if}}
              <div class="col-auto">
                <p class="mb-0">{{this.name}}</p>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit">Message</button>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <p align="center">
           <a class = "btn btn-primary" class="nav-link" href="/matching">No Matches, Let's Get Started!</a>
          </p>
          {{/if}}


      {{!-- Potential Tutors --}}
      <row>
        <br>
        <h2 style="text-align: center;"> Potential Tutors</h2>
        <div class="card-group">
          {{#if potentialmatches}}
          {{#each potentialmatches}}
          <div class="card">
                {{#if this.Profileimage}}
                <div class="text-center">
                  <img class="mb-0" id="selectedAvatar" src="{{this.Profileimage}}" width="60" height="60">
                </div>
                {{else}}
                <div class="text-center">
                  <img class="mb-0" id="selectedAvatar" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" width="60" height="60">
                </div>
                {{/if}}
            <p>{{this.name}}</p>
            <button class = "btn btn-primary"  type='submit'>View Profile</button><br/>
          </div>
          {{/each}}
        </div>
      </row>
          {{else}}
        {{!-- <h2 style="text-align: center;">Potential Tutors</h2> --}}
            <div class="card-vert" style="margin-left: -8px;">
            <div class="row align-items-center">
                    <div class="col-auto">
                <img class="mb-0" id="selectedAvatar" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" width="60" height="60">
              </div>
    
              <div class="col-auto">
                <p class="mb-0">No More Tutors Available</p>
              </div>
        {{/if}}
    </div>
  </div>
</div>